<div class="jumbotron">
  <h1>Welcome to Membership Dev</h1>
  <h3>A membership management site where membership organization can managed their membership</h3>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>